---
page: error
title: Not Found
template: marketing
permalink: false # todo: see how S3 treats error.html, and perhaps do not skip permalinks (which would generate error/index.html)
---
extends ../layouts/simple.jade
block content
  .row
    .col-xs-12.text-center
      h1 Not Found

